body {
    font-size: 16pt;
    font-family: "DTM", "Trebuchet MS", Arial, sans-serif;
    /*background-image:url(img/fond.jpg);*/
    background-color: black;
    margin: 0;
    text-align: center;
    color: #fff;
}

@font-face {
    font-family: 'DTM';
    src: url('font/DTM-Sans.otf');
}

h2 {
    margin-top: 0px;
    font-weight: bold;
}

.fond img {
    margin: auto;
    margin-top: 0px;
    max-width: 880px;
    display: block;
}

.life {
    position: absolute;
    left: 10px;
    bottom: 215px;
    min-width: 140px;
    width: 24%;
    height: 80px;
    /*background-color:black;
    border : 1px solid lightGray;*/
    font-size: 30px;
}

.life .value {
    margin-left: 15%;
}

#inventaire {
    position: absolute;
    min-width: 350px;
    width: 24%;
    height: 80px;
    /*background-color:black;
    border : 1px solid lightGray;*/
    right: 10px;
    bottom: 215px;
}

.bloc {
    display: inline-block;
    min-width: 50px;
    width: 16%;
    height: 70px;
    background-color: #222;
    margin: 0px 12px;
}

.bloc .objet {
    width: 50px;
    margin: auto;
    height: 70px;
}

.section {
    position: fixed;
    bottom: 0;
    padding: 10px;
    margin: auto;
    width: 98.5%;
    height: 190px;
    border: 3px solid lightGray;
    color: white;
    background-color: black;
}

.section button {
    display: inline-block;
    width: 20%;
    padding: 5px;
    margin-top: 30px;
    color: #FF7F27;
    background-color: black;
    border: solid 3px #FF7F27;
    cursor: pointer;
    font-family: "DTM", "Trebuchet MS", Arial, sans-serif;
}

.section button:hover {
    color: #E4BA00;
    border-color: #E4BA00;
}

#descriptionObjet {
    background-color: transparent;
    width: 20em;
    height: 200px;
    position: absolute;
    right: 50px;
    top: 200px;

    border: 20px solid;
    -moz-border-image: url(img/heartBorder.png) 20 26 20 25 round;
    -webkit-border-image: url(img/heartBorder.png) 20 26 20 25 round;
    -o-border-image: url(img/heartBorder.png) 20 26 20 25 round;
    border-image: url(img/heartBorder.png) 20 26 20 25 fill round;
}


